Repository FUnTiDES-sim/FUnTiDES, pull requests merged in 2025-10, with the labels that each got.

#127 Remove double occurence of SEMKernels
  .gitmodules
Labels: bug

#129 unify model struct and unstruct size
  examples/fe/solver_cartesian.py
  src/main/fe/src/sem_proxy.cc
  src/model/impl/builder/cartesian/include/cartesian_struct_builder.h
  src/model/impl/model/struct/include/model_struct.h
  tests/units/model/impl/builder/cartesian/test_cartesian_struct_builder.cc
Labels: bug, model

#133 Remove occurence of RAJA and native openmp
  CMakeLists.txt
  README.md
  cmake/OpenmpConfig.cmake
  cmake/ProxyConfig.cmake
  cmake/ProxyUtils.cmake
  scripts/env_Maple_GH200.sh
  scripts/env_Pangea3_V100GPU.sh
  src/discretization/fd/FDTDinit.hpp
  src/discretization/fd/FDTDmacros.hpp
  src/solver/impl/CMakeLists.txt
  src/utils/include/common_config.h.in
  src/utils/include/common_macros.h
Labels: performance

#138 Feature/fd model
  src/discretization/fd/fdtd_kernels/include/fdtd_grids.h
  src/discretization/fd/fdtd_kernels/include/fdtd_io.h
  src/discretization/fd/fdtd_kernels/include/fdtd_kernels.h
  src/discretization/fd/fdtd_kernels/include/fdtd_macros.h
  src/discretization/fd/fdtd_kernels/include/fdtd_pml.h
  src/main/fd/CMakeLists.txt
  src/main/fd/include/fdtd_options.h
  src/main/fd/include/fdtd_proxy.h
  src/main/fd/include/fdtd_solver.h
  src/main/fd/src/fdtd_proxy.cpp
  src/main/fd/src/fdtd_solver.cpp
  src/model/CMakeLists.txt
  src/model/grid/CMakeLists.txt
  src/model/grid/include/fdtd_boundary.h
  src/model/grid/include/fdtd_grid_geometry.h
  src/model/grid/include/fdtd_grids.h
  src/model/grid/include/fdtd_model_io.h
  src/model/grid/include/fdtd_velocity_model.h
Labels: model, FD
